@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-extralightSource-Sans-Pro.eot');
    src: url('sourcesanspro-extralightSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralightSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-extralightSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-extralightSource-Sans-Pro.svg#source_sans_proextralight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-extralightitalicSource-Sans-Pro.eot');
    src: url('sourcesanspro-extralightitalicSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralightitalicSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-extralightitalicSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-extralightitalicSource-Sans-Pro.svg#source_sans_proXLtIt') format('svg');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-lightSource-Sans-Pro.eot');
    src: url('sourcesanspro-lightSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-lightSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-lightSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-lightSource-Sans-Pro.svg#source_sans_prolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-lightitalicSource-Sans-Pro.eot');
    src: url('sourcesanspro-lightitalicSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-lightitalicSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-lightitalicSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-lightitalicSource-Sans-Pro.svg#source_sans_prolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-italicSource-Sans-Pro.eot');
    src: url('sourcesanspro-italicSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-italicSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-italicSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-italicSource-Sans-Pro.svg#source_sans_proitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-regularSource-Sans-Pro.eot');
    src: url('sourcesanspro-regularSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regularSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-regularSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-regularSource-Sans-Pro.svg#source_sans_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-semiboldSource-Sans-Pro.eot');
    src: url('sourcesanspro-semiboldSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semiboldSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-semiboldSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-semiboldSource-Sans-Pro.svg#source_sans_prosemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-semibolditalicSource-Sans-Pro.eot');
    src: url('sourcesanspro-semibolditalicSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibolditalicSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-semibolditalicSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-semibolditalicSource-Sans-Pro.svg#source_sans_proSBdIt') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-boldSource-Sans-Pro.eot');
    src: url('sourcesanspro-boldSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-boldSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-boldSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-boldSource-Sans-Pro.svg#source_sans_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-bolditalicSource-Sans-Pro.eot');
    src: url('sourcesanspro-bolditalicSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bolditalicSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-bolditalicSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-bolditalicSource-Sans-Pro.svg#source_sans_probold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-blackSource-Sans-Pro.eot');
    src: url('sourcesanspro-blackSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-blackSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-blackSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-blackSource-Sans-Pro.svg#source_sans_problack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('sourcesanspro-blackitalicSource-Sans-Pro.eot');
    src: url('sourcesanspro-blackitalicSource-Sans-Pro.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-blackitalicSource-Sans-Pro.woff') format('woff'),
         url('sourcesanspro-blackitalicSource-Sans-Pro.ttf') format('truetype'),
         url('sourcesanspro-blackitalicSource-Sans-Pro.svg#source_sans_problack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
