doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Responsive Images Talk

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section

      section
        .byline
          .classy This talk is called
        h1 Responsive Images
        .byline
          .classy by this guy
        img(src="images/profile.jpeg", style="border-radius:50%;")
        .byline
          a(href="http://twitter.com/CaseyLeask") @
            span.classy CaseyLeask

      section
        h1 This talk contains HTML, CSS &amp; not much Javascript

      section
        h1 First, some background

      section
        h1 Mobile First
        img(src="images/Responsive_Web_Design_Logo.svg", alt="Responsive Web Design Logo")

      section
        h1 Browser Width
        h4 Ranges from 240px to 2560px (27") and beyond

      section
        h1 Viewport
        p Device pixel width isn't browser pixel width
        p Called the DevicePixelRatio (DPR), ranges from 1 - 3?
        p My laptop is 2880 x 1800 (1440 x 900 in browser, 2 DPR)
        p My phone is 1080 x 1920 (360 x 640 in browser, 3 DPR)

      section
        h1 Examples of Responsive Design Frameworks

      section(data-bespoke-state='frameless')
        img(src="images/frameless.png")

      section(data-bespoke-state='bootstrap')
        img(src="images/twitterbootstrap.png")

      section
        h1 Responsive Images are still an unsolved problem

      section
        h1 None of these solutions handle all use-cases

      section
        h2 What I'm not going to talk about
        h4 Image Processing
        h4 Server Side solutions
        h4 CSS Background images
        h4 srcN

      section
        h1 HTML Spec &amp; Proposals
        img(src="images/HTML5_logo_and_wordmark.svg", alt="HTML5 Logo and Wordmark")

      section
        h2 A standard Image
        pre
          code.language-markup.
            &lt;img src="./images/kevin.png" alt="Kevin the Gopher" &gt;
        hr
        div
          img(src="images/kevin.png", alt="Kevin the Gopher")

      section
        h2 A standard Image with srcset
        pre
          code.language-markup.
            &lt;img src="./images/kevin.png" srcset="./images/kevin-2x.png 2x" alt="Kevin the Gopher" &gt;
        hr
        div
          img(src="images/kevin-2x.png", alt="Kevin the Gopher")

      section
        h2 Picture Proposal
        hr
        pre
          code.language-markup.
            &lt;picture width="500" height="500"&gt;
               &lt;source media="(min-width: 45em)" src="large.jpg"&gt;
               &lt;source media="(min-width: 18em)" src="med.jpg"&gt;
               &lt;source src="small.jpg"&gt;
               &lt;img src="small.jpg" alt=""&gt;
               &lt;p&gt;Accessible text&lt;/p&gt;
            &lt;/picture&gt;

      section
        h2 Picture Proposal (with srcset)
        hr
        pre
          code.language-markup.
           &lt;picture width="500" height="500"&gt;
             &lt;source media="(min-width: 45em)" srcset="large-1.jpg 1x, large-2.jpg 2x"&gt;
             &lt;source media="(min-width: 18em)" srcset="med-1.jpg 1x, med-2.jpg 2x"&gt;
             &lt;source srcset="small-1.jpg 1x, small-2.jpg 2x"&gt;
             &lt;img src="small-1.jpg" alt=""&gt;
             &lt;p&gt;Accessible text&lt;/p&gt;
           &lt;/picture&gt; 

      section
        h1 Javascript solutions

      section(data-bespoke-state='picturefill')
        h2 Picturefill, by @scottjehl
        img(src="images/scottjehl.jpeg", style="border-radius: 2em;")

      section(data-bespoke-state='picturefill')
        h2 Mimics the proposed Picture element
        pre
          code.language-markup.
            &lt;span data-picture data-alt="The Bayon temple in Cambodia"&gt;
              &lt;span data-src="small.jpg"&gt;&lt;/span&gt;
              &lt;span data-src="medium.jpg"     data-media="(min-width: 400px)"&gt;&lt;/span&gt;
              &lt;span data-src="large.jpg"      data-media="(min-width: 800px)"&gt;&lt;/span&gt;
              &lt;span data-src="extralarge.jpg" data-media="(min-width: 1000px)"&gt;&lt;/span&gt;

              &lt;!-- Fallback content for non-JS browsers. 
                   Same img src as the initial, unqualified source element. --&gt;
              &lt;noscript&gt;
                &lt;img src="small.jpg" alt="The Bayon temple in Cambodia"&gt;
              &lt;/noscript&gt;
            &lt;/span&gt;

      section(data-bespoke-state='picturefill')
        h2 How it actually runs
        pre
          code.language-markup.
            &lt;span data-picture="" data-alt="The Bayon temple in Cambodia"&gt;
              &lt;span data-src="small.jpg"&gt;&lt;/span&gt;
              &lt;span data-src="medium.jpg" data-media="(min-width: 400px)"&gt;&lt;/span&gt;
              &lt;span data-src="large.jpg" data-media="(min-width: 800px)"&gt;&lt;/span&gt;
              &lt;span data-src="extralarge.jpg" data-media="(min-width: 1000px)"&gt;
                &lt;img alt="The Bayon temple in Cambodia" src="extralarge.jpg"&gt;
              &lt;/span&gt;

              &lt;!-- Fallback content for non-JS browsers.
                   Same img src as the initial, unqualified source element. --&gt;
              &lt;noscript&gt;
                &lt;img src="small.jpg" alt="The Bayon temple in Cambodia"&gt;
              &lt;/noscript&gt;
            &lt;/span&gt;

      section(data-bespoke-state='metaquery')
        h1 Metaquery, by @benschwarz
        img(src="images/benschwarz.png")

      section(data-bespoke-state='metaquery')
        h2 Define your breakpoints in &lt;meta&gt; tags.
        hr
        pre
          code.language-markup.
            &lt;meta name="breakpoint" content="phone" media="(max-width: 479px)"&gt;
            &lt;meta name="breakpoint" content="small-tablet" media="(min-width: 480px) and (max-width: 599px)"&gt;
            &lt;meta name="breakpoint" content="tablet" media="(min-width: 600px) and (max-width: 1023px)"&gt;
            &lt;meta name="breakpoint" content="widescreen" media="(min-width: 1024px)"&gt;

      section(data-bespoke-state='metaquery')
        h1 Use those breakpoints in two ways

      section(data-bespoke-state='metaquery')
        h2 First, style off those breakpoints
        hr
        pre
          code.language-css
            &nbsp;.breakpoint-phone { background: red; }
            &nbsp;.breakpoint-small-tablet { background: green; }
            &nbsp;.breakpoint-tablet { background: blue; }
            &nbsp;.breakpoint-widescreen { background: yellow; }

      section(data-bespoke-state='metaquery')
        h2 And use in image markup
        hr
        pre
          code.language-markup.
            &lt;img src="./images/phone.jpg" data-mq-src="./images/[breakpoint].jpg" alt="Description" &gt;
        hr
        h2 Or
        hr
        pre
          code.language-markup.
            &lt;img data-mq-src="./images/[breakpoint].jpg" alt="Description"&gt;
            &lt;noscript&gt;
              &lt;img src="./images/phone.jpg" alt="Description"&gt;
            &lt;/noscript&gt;

      section(data-bespoke-state='metaquery')
        h1 Image markup may get removed and become a plugin later

      section(data-bespoke-state='responsivenews')
        h1 Imager, by @ResponsiveNews
        img(src="images/responsivenews.jpg")

      section(data-bespoke-state='responsivenews')
        h2 This placeholder div
        pre
          code.language-markup.
            &lt;div style="width: 240px"&gt;
              &lt;div class="delayed-image-load" data-src="http://placehold.it/{width}"
                                              data-alt="alternative text"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;script&gt;
              new Imager({ availableWidths: [200, 260, 320, 600] });
            &lt;/script&gt;

      section(data-bespoke-state='responsivenews')
        h2 Becomes this
        pre
          code.language-markup.
            &lt;div style="width: 240px"&gt;
              &lt;img src="http://placehold.it/260" data-src="http://placehold.it/{width}"
                   alt="alternative text" class="image-replace"&gt;
            &lt;/div&gt;

            &lt;script&gt;
              new Imager({ availableWidths: [200, 260, 320, 600] });
            &lt;/script&gt;

      section(data-bespoke-state='responsivenews')
        h1 Only solution to do 'element queries'

      section(data-bespoke-state='emphatic')
        img(src="images/profile.jpeg", style="border-radius:50%;")
        hr
        h1 Thanks!
        h4
          a(href="twitter.com/caseyleask") @CaseyLeask

      section(data-bespoke-state='emphatic')
        h1 Resources
        h4 
          a(href="http://getbootstrap.com/") Twitter Bootstrap
        h4 
          a(href="http://framelessgrid.com/") Frameless
        h4
          a(href="http://responsivenews.co.uk/post/50092458307/images") BBC Responsive News Technique
        h4
          a(href="http://mobile.smashingmagazine.com/2013/07/08/choosing-a-responsive-image-solution/") Choosing a Responsive Image Solution
        h4
          a(href="https://github.com/benschwarz/metaquery") Metaquery
        h4
          a(href="https://github.com/scottjehl/picturefill") Picturefill
        h4
          a(href="https://github.com/BBC-News/Imager.js/") Imager

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
